<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление заказами</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение Bootstrap JS и Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Подключение jQuery (необходимо для Bootstrap JS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #7a7979; /* Цвет фона */
            color: #ffffff; /* Цвет текста */
            overflow-x: hidden; /* Скрыть горизонтальную прокрутку */
        }
        .date-time-container {
            position: fixed;
            top: 55px;
            right: 10px;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 15px;
            font-size: 24px;
            font-weight: bold;
            color: #000000;
        }
        h2 {
            color: #007bff; /* Цвет заголовка */
        }

        table {
            width: 100%; /* Попробуйте установить ширину таблицы на 100% */
            overflow-x: hidden;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 5px;
            text-align: left;
            border-bottom: 1px solid #000000;
            color: #000000;
        }

        tr:hover {
            background-color: #ffffff;
        }

        th {
            background-color: #6c757d;
        }

        .sidebar {
            height: 100%;
            width: 12%; /* уменьшим ширину боковой панели */
            position: fixed;
            top: 0;
            left: 0;
            background-color: #2c2c2c;
            padding-top: 20px;
            overflow-y: auto;

        }

        .content {
            margin-left: 200px; /* увеличим отступ слева на ширину боковой панели */
            padding-top: 20px;
            overflow-x: hidden;
        }

        .nav-link {
            color: #ffffff; /* Цвет текста ссылок */
        }

        .nav-link:hover {
            color: #007bff; /* Цвет текста ссылок при наведении */
        }

        .navbar {
            background-color: #212121; /* Цвет фона панели навигации */
        }
    </style>
</head>
<body style="background-color: #727070; color: #ffffff;">
<!-- Панель навигации вверху -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid text-center">
        <span class="navbar-brand mb-0 h1 mx-auto" style="color: white; font-weight: bold;">Управление заказами</span>
    </div>
    <div class="date-time-container">
        <p id="currentDateTime"></p>
    </div>
</nav>

<!-- Боковая панель для админской панели -->
<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin/ordersPanel">Заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Отчеты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/product">Товары</a>
        </li>
    </ul>
</div>
<div class="container mt-5 content">

    <div class="container-fluid p-4" style="border: 2px solid black; background-color: #f8f9fa;">
        <!-- Поиск заказа -->
        <div class="row mb-4">
            <div class="col-md-12">
                <form id="search-form" th:action="@{/admin/orderSearch}" method="post">
                    <div class="row">
                        <div class="col-md-4 mb-6">
                            <label style="color: black">Поиск по номеру заказа</label>
                            <label  style="color: black" for="search-input">Параметр поиска:</label>
                            <input type="text" class="form-control" id="search-input" name="searchInput" placeholder="Введите значение">

                        </div>
                        <div class="col-md-4 mb-6">
                            <label> </label>
                            <button type="submit" class="btn btn-primary">Найти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Таблица с заказами -->
        <table class="table table-striped" style="color: #ffffff; background-color: white;">
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата создания</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <!-- цикл для отображения заказов -->
            <tr th:each="order: ${searchResults}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.dateOfCreate}"></td>
                <td>
                    <form th:action="@{/admin/updateOrderStatus}" method="post">
                        <input type="hidden" name="orderId" th:value="${order.id}">
                        <select class="form-select" name="status">
                            <option th:each="status : ${orderStatus}" th:value="${status}" th:selected="${status == order.status}" th:text="${status.getValue()}"></option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#editOrderModal-' + ${order.id}">
                        Редактировать
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#viewOrderModal-' + ${order.id}">
                        Просмотр детальной информации о заказе
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Количество активных заказов -->
    <div class="row mb-4">
        <div class="col-md-5">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h4 class="card-title">Активные заказы</h4>
                    <h1 class="card-text" th:text="${quantityActiveOrders}"></h1>
                </div>
            </div>
        </div>

        <!-- Общее количество заказов за сутки -->
        <div class="col-md-5">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h4 class="card-title">Заказы за сутки</h4>
                    <h1 class="card-text" th:text="${quantityOrdersInThisDay}"></h1>
                </div>
            </div>
        </div>
    </div>


    <h4 class="card-title">Активные заказы</h4>
    <!-- Таблица с заказами -->
    <table class="table table-striped" style="color: #ffffff; background-color: white; width: 90%;">

        <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата создания</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <!-- цикл для отображения заказов -->
        <tr th:each="order: ${activeOrders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.dateOfCreate}"></td>
            <td>
                <form th:action="@{/admin/updateOrderStatus}" method="post">
                    <input type="hidden" name="orderId" th:value="${order.id}">
                    <select class="form-select" name="status">
                        <option th:each="status : ${orderStatus}"
                                th:value="${status}"
                                th:selected="${status == order.status}"
                                th:text="${status.getValue()}"></option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </form>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#editOrderModal-' + ${order.id}">
                    Редактировать
                </button>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#viewOrderModal-' + ${order.id}">
                    Просмотр детальной информации о заказе
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Модальное окно для просмотра заказа -->
    <div th:each="order: ${orders}" th:id="'viewOrderModal-' + ${order.id}" class="modal fade" tabindex="-1" th:attr="aria-labelledby='viewOrderModalLabel-' + ${order.id}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewOrderModalLabel-' + ${order.id}" style="color: black;">Подробности заказа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="border-bottom: 1px solid #ccc; margin-bottom: 15px;color: black;"></div>
                    <p><strong>Номер заказа:</strong> <span th:text="${order.id}"></span></p>
                    <p><strong>Дата создания:</strong> <span th:text="${order.dateOfCreate}"></span></p>
                    <p><strong>Статус заказа:</strong> <span th:text="${order.status.getValue()}"></span></p>
                    <p><strong>Описание для курьера:</strong> <span th:text="${order.descriptionForCourier}"></span></p>

                    <div style="border-bottom: 1px solid #ccc; margin-bottom: 15px; color: black;"></div>
                    <h5>Информация о заказчике</h5>
                    <p><strong style="color: black;">Имя заказчика:</strong> <span th:text="${order.name}" ></span></p>
                    <p><strong style="color: black;">Телефон заказчика:</strong> <span th:text="${order.numberPhone}"></span></p>
                    <p><strong>Email заказчика:</strong> <span th:text="${order.email}" style="color: black;"></span></p>

                    <div style="border-bottom: 1px solid #ccc; margin-bottom: 15px;color: black;"></div>
                    <h5>Адрес заказа:</h5>
                    <p><strong>Улица:</strong> <span th:text="${order.street}" ></span></p>
                    <p><strong>Дом:</strong> <span th:text="${order.house}" ></span></p>
                    <p><strong>Квартира:</strong> <span th:text="${order.flat}" ></span></p>

                    <div style="border-bottom: 1px solid #ccc; margin-bottom: 15px; color: black;"></div>
                    <!-- Состав заказа -->
                    <h5 style="color: black;">Состав заказа:</h5>
                    <div class="row">
                        <!-- Отладочная информация -->
                        <p style="color: black;">Размер orderItems: <span th:text="${order.orderItems.size()}"></span></p>
                        <!-- Конец отладочной информации -->
                        <div th:each="item: ${order.orderItems}" class="col-md-6">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img th:src="${item.product.imageUrl}" class="img-fluid rounded-start" alt="Product Image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${item.product.productName}"></h5>
                                            <ul class="list-unstyled">
                                                <li><strong>Количество:</strong> <span th:text="${item.quantity}"></span></li>
                                                <li><strong>Цена за единицу:</strong> <span th:text="${item.unit_price}"></span></li>
                                                <li><strong>Общая стоимость:</strong> <span th:text="${order.totalSum}"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Данные о пользователе -->
                    <div style="border-bottom: 1px solid #ccc; margin-bottom: 15px;color: black;"></div>

                    <h4 style="color: black;">Данные о пользователе:</h4>
                    <p><strong>Имя:</strong> <span th:text="${order.user.name}" style="color: black;"></span></p>
                    <p><strong>Номер телефона:</strong> <span th:text="${order.user.numberPhone}" style="color: black;"></span></p>
                    <p><strong>Бонусный баланс:</strong> <span th:text="${order.user.bonusBalance}" style="color: black;"></span></p>
                    <p><strong>Фамилия:</strong> <span th:text="${order.user.surname}" style="color: black;"></span></p>
                    <p><strong>Отчество:</strong> <span th:text="${order.user.patronymic}" style="color: black;"></span></p>
                    <p><strong>Email:</strong> <span th:text="${order.user.email}" style="color: black;"></span></p>
                    <p><strong>Роль:</strong> <span th:text="${order.user.roles}" style="color: black;"></span></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования заказа-->
    <div th:each="order: ${orders}" th:id="'editOrderModal-' + ${order.id}" class="modal fade" tabindex="-1" th:attr="aria-labelledby='editOrderModalLabel-' + ${order.id}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editOrderModalLabel-' + ${order.id}" style="color: black;">Редактировать заказ</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Форма для редактирования заказа -->
                    <form th:action="@{/admin/editOrder/{id}(id=${order.id})}" method="post">
                        <!-- Здесь добавьте поля для редактирования заказа -->
                        <div class="mb-4">
                            <label for="orderStatus" class="form-label" style="color: black;">Статус заказа:</label>
                            <select class="form-select" id="orderStatus" name="orderStatus">
                                <option th:each="status : ${orderStatus}" th:value="${status}" th:selected="${status == order.status}" th:text="${status.getValue()}"></option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="descriptionForCourier" class="form-label" style="color: black;">Описание для курьера:</label>
                            <textarea class="form-control" id="descriptionForCourier" name="descriptionForCourier" rows="3" th:text="${order.descriptionForCourier}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Скрипт для получения текущей даты и времени -->
<script>
    setInterval(function () {
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;
        document.getElementById('currentDateTime').innerText = dateTime;
    }, 1000);
</script>

</body>
</html>
