<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your View</title>
</head>
<body>

<h2>User Information</h2>

<div th:if="${authenticated}">
    <p th:text="'Username: ' + ${username}"></p>
    <p th:text="'Authorities: ' + ${authorities}"></p>
    <p th:text="'Is authenticated: true'"></p>
</div>
<div th:unless="${authenticated}">
    <p>User not authenticated</p>
</div>

</body>
</html>